.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 0 0 / 90%);
}


.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
     padding: 0 16px; 
     width: 8% ;  
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background-color: transparent;
    height: auto;
}